.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1366px;
  height: 80px;
  padding: 0 30px 0 25px;
  background-color: #DC5041;
}

.logo {
  font-size: 26px;  
  font-weight: bold;
  color: #FFFFFF;
}


.main {
  display: flex;
  width: 1366px;
  height: 688px;
}

.side-bar {
  width: 260px;
  height: 688px;
  padding: 45px 20px;
  background-color:#F8F5F5;
}